@{
    ViewBag.Title = "Angular index";
}

@section scripts
{
    <script src="~/myscripts/AngularApp.js"></script>
}

<h2>Index</h2>

<div ng-app="contactmanager">
    <h1>Viewer</h1>
    <div ng-view></div>
</div>
