body {
    margin-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

#menu {
    padding-left: 10px;
    padding-right: 10px;
}

.noborder {
    border: none;
}

#body {
    padding-top: 30px;
    margin-left: -0px;
}

.pushup {
    margin-bottom: -2px;
}

.buffer {
    margin-top: 10px;
}

.bufferleft {
    margin-left: 10px;
}

#sidebar {
    height: 600px;
    overflow-y: scroll;
    font-size: 80%;
}

.list-group {
    margin-bottom: 0px;
}