@{
    ViewBag.Title = "Retain";
}

<h2>Retain</h2>

@section css{
    
<link href="~/myscripts/udacity_javascriptdesignpatterns/retain.css" rel="stylesheet" />
}

@section scripts
{    
<script src="~/myscripts/udacity_javascriptdesignpatterns/retain.js"></script>
}

<form id="new-note-form" class="new-note-form">
    <input id="new-note-content" class="new-note-content">
</form>
<ul id="notes" class="notes"></ul>