<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AdventureWorksContext" connectionString="metadata=res://*/AdventureWorks.AdvWorksLite.csdl|res://*/AdventureWorks.AdvWorksLite.ssdl|res://*/AdventureWorks.AdvWorksLite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sam_g-pc;initial catalog=AdventureWorksLT2012;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CourseModelContext"
      providerName="System.Data.SqlClient"
      connectionString="Server=64.31.58.155;Database=section31;User Id=janvi;Password=acura379;"/>
    <add name="BreakAwayContext"
  providerName="System.Data.SqlClient"
  connectionString="Server=64.31.58.155;Database=section31;User Id=janvi;Password=acura379;"/>
  </connectionStrings>
</configuration>